/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* variabeles */
:root {
    --primary: #F36B26;
    --secondary: #86C886;
    --tertiary: #131315;
    --black: black;
    --white: white;
    --font: "Quicksand", serif;
}

/* basic styles */
body {
    font-family: var(--font);
    color: var(--black);
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 35px;
}

/* nav */
.navbar-brand img {
    width: 171px;
}
/* footer */
footer {
    background: var(--tertiary);
    color: var(--white);
}
